pandas
python-dotenv

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
huggingface-hub

google-genai
google-generativeai